<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tentamensportal - {{ page.title }}</title>
        <style>
{% include style.css %}
{% include syntax.css %}
        </style>
    </head>
    <body>
        <div id="container">
            <a href="https://crilab.github.io/dva128_tentamensportal/" id="header">
                <div>TENTAMENSPORTAL</div>
                <div>PROGRAMMERINGSTEKNIK MED PYTHON</div>
            </a>
            <div id="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>
