<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tentamensportal - {{ page.title }}</title>
        <style>
{% include style.css %}
{% include syntax.css %}
        </style>
    </head>
    <body translate="no">
        <div class="vspace"></div>
        <div id="container">
            <a href="../../../../index.html" id="header"></a>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const header = document.getElementById("header");
                    let headerTexts = [
                        "TENTAMENSPORTAL",
                        "PROGRAMMERINGSTEKNIK MED PYTHON"
                    ]
                    if (window.location.href.includes("english")) {
                        header.href += "?language=english"
                        headerTexts = [
                            "FINAL EXAM PORTAL",
                            "COMPUTER PROGRAMMING WITH PYTHON"
                        ]
                    }
                    for (let text of headerTexts) {
                        const div = document.createElement("div");
                        div.innerText = text;
                        header.appendChild(div);
                    }
                })
            </script>
            <div id="content">
                {{ content }}
            </div>
        </div>
        <div class="vspace"></div>
    </body>
</html>
